.cookie-banner {
  position: sticky;
  margin: 0 1rem;
  left: 0;
  right: 0;
  bottom: 1rem;
  z-index: 100;
  border-radius: 10px;
  background: rgba($primaryGreen, .7);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;

  &__buttons {
    display: flex;
  }

}

@media only screen and (max-width: 600px) {
  .cookie-banner {
    flex-direction: column;
    bottom: 3rem;
    padding-bottom: 4rem;

    &__buttons {
      margin-top: 1rem;
    }

    &__accept {
      margin-left: 0;
    }
  }
}
