$primaryTextColor: #393a3e;
$secondaryTextColor: #d7d8d8;

$secondaryBtnColor: #fe1251;

$companyColor: #fadb87;
$secondaryCompanyColor: #fdf8de;

$primaryGreen: #76a692;
$secondaryGreen: #def1e3;
$lightGrey: #eaeaea;

$animationSpeed: 300ms;

$primaryCardColor: #ffffff;
